/* Proporciona estilos a los elementos HTML de acuerdo con las siguientes instrucciones.
NO PUEDES ALTERAR EL CÓDIGO HTML EXISTENTE. ¡ESCRIBE SOLO CSS!*/


/* El elemento <body> deberá tener un fondo de color #bdc3c7*/
body {
    background-color: #bdc3c7;
}

/* El elemento <h1> será de color #9b59b6 y estará alineado en el centro */
h1 {
    color: #9b59b6;
    text-align: center;
}

/* Todos los <h2> serán de color marrón */
h2 {
    color: brown;
}

/* Todos los elementos li serán de un color cercano al azul especificado de manera hexadecimal y no deberán tener icono de lista */
li {
    color: blue;
    list-style-type: none;
}

/* Cambia el fondo de cada párrafo a amarillo */
p {
    background-color: yellow;
}

/* Haz que todos los inputs tengan un borde de 3px de color rojo */
input {
    border: 3px solid red;
}

/* Haz que el primer ítem de la lista esté en negrita y tenga color chartreuse */
li:first-child {
    font-weight: bold;
    color: chartreuse;
}

/* Haz que la clase .hello tenga el color de fondo blanco */
.hello {
    background-color: white;
}

/* Haz que el elemento de id special tenga un borde de 2px en azul */
#special {
    border: 2px solid blue;
}

/* Haz que todos los párrafos anidados dentro de un div tengan un tamaño de fuente de 25px */
div p {
    font-size: 25px;
}

/* Haz que los inputs de entrada campo de texto tengan color de fondo chartreuse */
input[type=text] {
    background-color: chartreuse;
}

/* Haz que los dos párrafos incluidos en el tercer div tengan un color de fondo rosa y color de fuente blueviolet */
div:nth-of-type(3) p{
    background-color: pink;
    color: blueviolet;
}
//
/* Consigue que el segundo párrafo localizado en el tercer <div> tenga un borde blanco de 10 pixeles */
div:nth-of-type() p:nth-child(2){
    border: 10px solid white;
}

/* Aplica al <em> incluido en el tercer <div> un tamaño de 40px */


/* Haz que los h1 en el evento "pasar el ratón por encima" cambien la fuente a color azul, tengan un tamaño de fuente de 3em y cambien el ancho al 65% */


/* Aplica únicamente a los dos links que apuntan a cpifppiramide color de fuente negro, letra en negrita y link sin decoración */


/* Aplica a los input que tienen el atributo checked un margin izquierdo de 50px */


/* Amplia la primera letra del elemento con id special a 1.3em y aplicale un color salmón */


/* Selecciona todos los párrafos que descienden directamente de un <div> para que tengan un interlineado de 1.6 em y la fuente sea de color darkgreen */


/* Haz que el último párrafo que esté incluido en un <div> tengan las fuentes Segoe UI y sans-serif  */


/* Aplica a los párrafos que no están en ningún <div> fuente en negrita y color de fondo blanchealmond */