body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.bloque {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: raw;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.contenedor1, .contenedor2 {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.contenedor2 {
    background-color: #DCDCDC;
}

.login {
    padding: 20px;
}

form a {
    color: black;
    font-size: 16px;
    text-align: left;
}

label {
    font-family: 'Lexend Deca';
    font-size: 16px;
}

button {
    background-color: #7A7A7A;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

