
/* Media query para dispositivos móviles */
@media screen and (max-width: 780px) {
    

    .navprincipal {
        align-items: flex-start; /* Alinear al inicio */
    }

    nav a {
        font-size: 1.5em; /* Reducir tamaño de fuente */
    }

    
    .vertical {
        width: 20%; /* O ajusta según tus necesidades */
    }

    .coches{
        width: 100%;
    }

    .coches select {
        width: 100%; /* O ajusta según tus necesidades */
    }

    /* Otros estilos para dispositivos móviles aquí... */
}
nav{
    display: flex;
    justify-content: space-between;
}

.navprincipal{
    align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 2em;
}

hr{
    border: 3px solid black;
}

.contenido{
    display: flex;
}

.vertical{
    width: 18%;
    flex-direction: column;
    height: auto;
}

.filtros{
    align-items: flex-start;
}

.contacto{
    width: 100%;
    align-content: flex-end;
}

.contacto div{
    display: flex;
    flex-direction: row;
    font-size: small;
    font-weight: bold;
}

.coches{
    flex: 1;
    padding: 0.5em;
    border: 3px solid black;   
}

nav label{
    width: 100%;
    font-size: 1.2em;
}

nav select{
    width: 100%;
    font-size: 1.2em;
}

.coches select{
    width: 15%;
}

.items{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 2em;
}

.contenido hr{
    width: 100%;
}

.tarjeta{
    text-align: center;
    width: 20rem;
    height: auto;
    border: 1px solid black;
    background-color: #D9D9D9;
}

.imagen{
    background-color: #D9D9D9;
}
p{
    background-color: #D9D9D9;
    
}

h3{
    background-color: #D9D9D9;
}

.imagen img{
    width: 15rem;
    height: auto;
    object-fit: fill;
}

.navabajo{
    margin: 10px;
    display: flex;
    flex-direction: row;flex: 1;
    justify-content: space-between;
    height: auto;
    align-items: center;
    font-size: large;
}

.navabajo a{
    color: black;
}

.pais{
    display: flex;
}





